section {
  display: grid;
  place-content: center;
  gap: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 6.5rem;
  }
}
